<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="13577RongduanZhu.LettheGolfFly" Publisher="CN=0606B174-83D9-4601-AFF6-D04FB4888F03" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Let the Golf Fly</DisplayName>
    <PublisherDisplayName>Rongduan Zhu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MiniCube.App">
      <VisualElements DisplayName="Let the Golf Fly" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Arcade golf game" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
      </VisualElements>
    </Application>
  </Applications>
</Package>